@model WebSewaParkir.Models.CarRental

@{
    ViewBag.Title = "EditCar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pagetitle">
    <h1>Edit Car</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Admin")">Home</a></li>
            <li class="breadcrumb-item active">Edit Car</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Car</h5>

                @using (Html.BeginForm("EditCar", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    <div class="row mb-3">
                        <label for="customer_name" class="col-sm-2 col-form-label">Customer Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="no_police" class="col-sm-2 col-form-label">No Police</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.NoPolice, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="car_name" class="col-sm-2 col-form-label">Car Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.CarName, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="start_date" class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="end_date" class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Edit Car</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

