@model WebSewaParkir.Models.User
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pagetitle">
    <h1>Edit User</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Admin")">Home</a></li>
            <li class="breadcrumb-item active">Edit User</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit User</h5>

                @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Telp</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Telp, new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Leave blank if unchanged" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>